
@mixin min-width($device-width) {
  @media screen and (min-width: $device-width) {
    @content;
  }
}

@mixin max-width($device-width) {
  @media screen and (max-width: $device-width - 1) {
    @content;
  }
}
