
// Responsive breakpoints

@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == mama-bear {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 800px)  { @content; }
  }
  @else if $point == babiest-bear {
    @media (max-width: 400px)  { @content; }
  }
}
