
.clickable {
  cursor: pointer;
}

.blue-header {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  background: linear-gradient( to bottom, $blue, darken($blue, 10%));

  @include min-width($tablet) {
    height: 200px;
  }
}
