
.clickable {
  cursor: pointer;
}

.blue-header {
  width: 100%;
  min-height: 100px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  background: linear-gradient( to bottom, $blue, darken($blue, 10%));

  @include min-width($tablet) {
    min-height: 200px;
  }
}

.no-scroll {
  overflow: hidden;
}
