// GOOGLE FONTS
// ----------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:500,700,800');


// TYPOGRAPHY
// ----------------------------------------------
$brand-font: 'Roboto', sans-serif;
$header-font: 'Work Sans', sans-serif;

$standard-paragraph: 16px;
$standard-h1: 30px;
$standard-h2: 26px;
$standard-h3: 20px;


// BRAND COLORS
// ----------------------------------------------
$red:  #ED2332;
$soft-red:    #F0454B;
$blue:        #3A7ADB;
$blue-light:  lighten($blue, 10%);
$blue-lightest: lighten(#6194e2, 15%);
$blue-pale: transparentize($blue-lightest, .5);
$teal-green:  #41ead4;
$purple: #b178fa;
$text-gray:   #4b4b4b;
$dark-gray:   darken($text-gray, 5%);
$gray-med:    lighten($text-gray, 10%);
$gray:        lighten($text-gray, 25%);
$light-gray:  lighten($text-gray, 50%);

// THIRD PARTY BRAND COLORS
// ----------------------------------------------
$facebook-blue: #3B5998;

// Z's
// ----------------------------------------------
$z-top: 9999;
$z-modal: 999;
$z-modal-overlay: 400;

// BREAKPOINTS
$phone: 360px;
$phablet: 480px;
$tablet: 768px;
$desktop: 1024px;
$large: 1300px;


// BORDER RADIUS
$br-small: 2px;
$br-medium: 5px;
$br-large: 8px;
