// GOOGLE FONTS
// ----------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Roboto');

// TYPOGRAPHY
// ----------------------------------------------
$roboto-font: 'Roboto', sans-serif;

$logo-size: 26px;
$paragraph-size: 14px;
$standard-line-height: 1.5em;
$standard-h1: 26px;
$standard-h2: 22px;
$standard-h3: 18px;


// BRAND COLORS
// ----------------------------------------------
$soft-red: #CA3E41;
$cornflower-blue: #5898D8;
$sky-blue: #8CD7FC;
$white: #FFF;
$dark-gray: #3A3A3A;
$light-gray: #999;


// FORM VALIDATION COLORS
// ----------------------------------------------

$error-red: #A12827;
$valid-green: #5E901C;
