// GOOGLE FONTS
// ----------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i');

// TYPOGRAPHY
// ----------------------------------------------
$brand-font: 'Roboto', sans-serif;

$standard-paragraph: 16px;
$standard-h1: 30px;
$standard-h2: 26px;
$standard-h3: 24px;


// BRAND COLORS
// ----------------------------------------------
$white: #FFFFFF;
$soft-red: #F0454B;
$bright-red: #ED1C24;
$blue-light: #A3D9FF;
$blue: #559AF4;
$blue-dark: #2E84F4;
$teal-green: #41ead4;
$text-gray: #353E42;
$dark-gray: #122C34;
$light-gray: #DCDCDD;

// Z's
// ----------------------------------------------
$z-top: 9999;
