// GOOGLE FONTS
// ----------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Bitter');

// TYPOGRAPHY
// ----------------------------------------------
$roboto-font: 'Roboto', sans-serif;
$bitter: 'Bitter', serif;

$logo-size: 26px;
$paragraph-size: 16px;
$standard-line-height: 1.5em;
$standard-h1: 28px;
$standard-h2: 24px;
$standard-h3: 22px;


// BRAND COLORS
// ----------------------------------------------
$soft-red: #D95852;
$light-green: #A3BE4B;
$cornflower-blue: #5898D8;
$sky-blue: #81C7EA;
$white: #FFF;
$text-gray: #373737;
$dark-gray: #4A4A4A;
$medium-gray: #B4B4B4;
$light-gray: #D2D2D2;

