@import url("https://fonts.googleapis.com/css?family=Muli:300,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Bitter");
body, #app {
  background-color: white;
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0; }

.page-wrap {
  height: 100%;
  width: 100%;
  overflow-y: hidden; }

.signup-page, .login-page {
  width: 95%;
  margin: 0 auto;
  display: block; }

h1, h2, h3, p, ul, li, a, label, input {
  font-family: "Muli", sans-serif;
  line-height: 1.5em; }

p, li, a, label, input {
  font-size: 16px;
  font-weight: 300;
  color: #373737; }

h1, h2, h3 {
  text-align: center; }

h1 {
  font-size: 28px; }

h2 {
  font-size: 24px; }

h2.page-title {
  font-size: 30px;
  margin: 10px auto;
  width: 100%;
  display: block;
  text-align: center;
  font-family: "Muli", sans-serif;
  color: #D95852; }

h3 {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 5px; }

.standard-link {
  text-decoration: none;
  font-weight: 500;
  color: #D95852;
  font-size: 18px; }

.footer {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  position: fixed; }
  .footer .navbar {
    background-color: #D95852; }
    .footer .navbar ul.nav-list {
      padding-left: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      height: 50px;
      margin: 0; }
      .footer .navbar ul.nav-list li {
        padding: 0 10px;
        text-transform: uppercase; }
        .footer .navbar ul.nav-list li a {
          color: white;
          text-decoration: none; }

.form-container {
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: center; }
  .form-container .login-form input, .form-container .login-form select, .form-container .signup-form input, .form-container .signup-form select {
    border: 1px solid #D2D2D2;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box; }
  .form-container .login-form label, .form-container .login-form input, .form-container .login-form select, .form-container .signup-form label, .form-container .signup-form input, .form-container .signup-form select {
    display: block;
    width: 100%;
    margin: 10px 0;
    text-align: left;
    color: #373737;
    background-color: #FFF;
    font-size: 16px;
    font-weight: 300; }
  .form-container .login-form label, .form-container .signup-form label {
    color: #373737;
    margin: 20px 0 10px 0; }
  .form-container .login-form .dob-container, .form-container .signup-form .dob-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .form-container .login-form .dob-container .dob-day, .form-container .login-form .dob-container .dob-month, .form-container .login-form .dob-container .dob-year, .form-container .signup-form .dob-container .dob-day, .form-container .signup-form .dob-container .dob-month, .form-container .signup-form .dob-container .dob-year {
      width: 60% / 3; }
    .form-container .login-form .dob-container .dob-month, .form-container .signup-form .dob-container .dob-month {
      margin-right: 10px; }
    .form-container .login-form .dob-container .dob-year, .form-container .signup-form .dob-container .dob-year {
      margin-left: 10px; }

.rep-info-clusters {
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-wrap: wrap; }

.cluster {
  margin: 20px 0 40px 0; }
  .cluster .bio-photo {
    height: 140px;
    max-height: 140px;
    border-radius: 70px;
    margin: 20px 0 5px 0; }
  .cluster p {
    margin: 0;
    text-align: center; }
    .cluster p.name {
      font-weight: 500; }
    .cluster p.match-score {
      margin: 5px 0;
      font-size: 28px;
      color: #81C7EA; }
    .cluster p.with-me {
      font-size: 16px;
      margin-top: -15px;
      color: #81C7EA;
      text-align: center;
      font-family: "Bitter", serif;
      font-style: italic; }

.report-cards {
  background-color: #81C7EA;
  margin: 0;
  padding: 20px 15px 40px 15px; }
  .report-cards h3 {
    color: white;
    text-transform: uppercase;
    margin-top: 0; }
  .report-cards .card {
    background-color: white;
    margin: 20px 0;
    border: 1px solid #B4B4B4;
    border-radius: 4px;
    padding: 10px;
    text-align: center; }
    .report-cards .card .name {
      font-weight: 400;
      font-size: 26px;
      margin: 0; }
    .report-cards .card .role {
      margin: 5px; }
    .report-cards .card .photo-container {
      margin: 0 auto;
      display: block;
      width: 200px; }
      .report-cards .card .photo-container .bio-photo {
        height: 200px;
        border-radius: 100px; }
    .report-cards .card .metrics-container {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin: 30px auto; }
      .report-cards .card .metrics-container .sliders {
        width: 50%; }
      .report-cards .card .metrics-container .job-score {
        text-align: center;
        background-color: #A3BE4B;
        border-radius: 4px;
        width: 50%;
        box-sizing: border-box; }
        .report-cards .card .metrics-container .job-score .info-icon {
          float: right;
          color: white;
          padding: 0 5px 5px 0;
          margin: -15px 0 0 0; }
        .report-cards .card .metrics-container .job-score p {
          color: white;
          text-transform: uppercase;
          margin: 15px 0 -20px 0;
          font-size: 18px; }
          .report-cards .card .metrics-container .job-score p.grade {
            font-size: 80px;
            margin: -20px;
            color: white;
            text-align: center; }
    .report-cards .card .badge-container {
      margin: 10px auto;
      display: flex;
      flex: 1;
      justify-content: center; }
      .report-cards .card .badge-container i {
        font-size: 32px;
        color: #B4B4B4;
        padding: 5px; }
    .report-cards .card .alignment-container h3 {
      font-size: 18px;
      margin: 40px 0 0 0;
      text-transform: uppercase;
      color: #373737; }
    .report-cards .card .alignment-container .alignment-breakdown {
      margin: 20px auto;
      display: flex;
      justify-content: space-between; }
      .report-cards .card .alignment-container .alignment-breakdown .percentages {
        margin-top: -10px;
        width: 33.33%;
        text-align: center; }
        .report-cards .card .alignment-container .alignment-breakdown .percentages p {
          font-weight: 500;
          font-size: 13px;
          width: 100%;
          margin: 0 auto; }
          .report-cards .card .alignment-container .alignment-breakdown .percentages p.alignment-score {
            font-size: 26px;
            padding-top: 10px;
            color: #81C7EA; }
        .report-cards .card .alignment-container .alignment-breakdown .percentages img {
          max-width: 60%; }
    .report-cards .card .learn-more .view-rep-btn {
      background-color: #81C7EA;
      text-transform: uppercase;
      font-size: 18px;
      color: white;
      width: 90%;
      margin: 20px auto 10px auto;
      display: block;
      border: none;
      border-radius: 4px; }

.tally-container {
  text-align: center;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 60px;
  background-color: #81C7EA; }

.tally-score {
  color: white;
  line-height: 120px;
  height: 120px;
  font-size: 60px;
  margin: 0; }

.score-toggle {
  margin: 20px auto;
  text-align: center;
  width: 100%; }
  .score-toggle a {
    text-decoration: none;
    color: #373737;
    font-size: 20px;
    font-weight: 500; }
    .score-toggle a.active {
      border-bottom: 2px solid #81C7EA;
      padding-bottom: 3px;
      color: #81C7EA; }
  .score-toggle p {
    margin: 10px auto;
    width: 90%; }

.not-found-page .back {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  display: inline-flex;
  justify-content: center;
  vertical-align: middle; }
  .not-found-page .back p, .not-found-page .back li, .not-found-page .back a {
    font-size: 18px; }
    .not-found-page .back p:hover, .not-found-page .back p:active, .not-found-page .back li:hover, .not-found-page .back li:active, .not-found-page .back a:hover, .not-found-page .back a:active {
      text-decoration: none;
      color: #373737; }

button {
  font-size: 16px;
  font-weight: 60;
  text-transform: uppercase;
  background-color: #81C7EA;
  border-radius: 3px;
  padding: 10px;
  color: #FFF;
  border: none;
  width: 100%;
  display: block;
  margin: 20px auto 50px; }
