@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Bitter");
html, body {
  background-color: white;
  height: 100%; }

.page-wrap {
  background-color: white;
  overflow-y: hidden;
  padding-bottom: 30px; }

.page-content {
  min-height: 100%;
  position: relative; }

.signup-page,
.login-logout-page {
  overflow: hidden;
  position: fixed;
  width: 100%; }

.login-logout-page {
  margin: 15vh 0; }

button {
  font-size: 16px;
  font-weight: 60;
  text-transform: uppercase;
  background-color: #81C7EA;
  border-radius: 3px;
  padding: 10px;
  color: #FFF;
  border: none;
  width: 100%;
  display: block;
  margin: 20px auto 50px; }

h1, h2, h3, p, ul, li, a, label, input {
  font-family: "Roboto", sans-serif;
  line-height: 1.5em; }

p, li, a, label, input {
  font-size: 16px;
  color: #373737; }

h1, h2, h3 {
  text-align: center; }

h1 {
  font-size: 28px; }

h2 {
  font-size: 24px; }

h2.page-title {
  font-size: 30px;
  margin: 10px auto;
  width: 100%;
  display: block;
  text-align: center;
  font-family: "Bitter", serif;
  color: #D95852; }

h3 {
  font-size: 22px; }

.home-page .page-title {
  margin-top: 50%; }

.home-page .home-button, .home-page .signup-button {
  margin: 20px auto;
  font-size: 18px;
  width: 70%; }
  .home-page .home-button a, .home-page .home-button a:hover, .home-page .home-button a:active, .home-page .signup-button a, .home-page .signup-button a:hover, .home-page .signup-button a:active {
    color: #FFF; }

.home-page .or {
  margin: 0 auto;
  display: block;
  width: auto;
  text-align: center; }

.footer {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  position: fixed; }
  .footer .navbar {
    background-color: #D95852; }
    .footer .navbar ul.nav-list {
      padding-left: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      height: 50px;
      margin: 0; }
      .footer .navbar ul.nav-list li {
        padding: 0 10px;
        text-transform: uppercase; }
        .footer .navbar ul.nav-list li a {
          color: white;
          text-decoration: none; }

div.form-container {
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: center; }
  div.form-container form.login-form input, div.form-container form.login-form select, div.form-container form.login-form label, div.form-container form.signup-form input, div.form-container form.signup-form select, div.form-container form.signup-form label, div.form-container form.address-form input, div.form-container form.address-form select, div.form-container form.address-form label {
    width: 100%;
    display: block;
    margin: 10px auto;
    text-align: left; }
  div.form-container form.login-form label, div.form-container form.signup-form label, div.form-container form.address-form label {
    margin-top: 20px; }
  div.form-container form.login-form input:required:invalid, div.form-container form.login-form input:focus:invalid, div.form-container form.signup-form input:required:invalid, div.form-container form.signup-form input:focus:invalid, div.form-container form.address-form input:required:invalid, div.form-container form.address-form input:focus:invalid {
    -moz-box-shadow: none; }
  div.form-container form.login-form div.dob-container, div.form-container form.signup-form div.dob-container, div.form-container form.address-form div.dob-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    div.form-container form.login-form div.dob-container select.dob-day, div.form-container form.login-form div.dob-container select.dob-month, div.form-container form.login-form div.dob-container select.dob-year, div.form-container form.signup-form div.dob-container select.dob-day, div.form-container form.signup-form div.dob-container select.dob-month, div.form-container form.signup-form div.dob-container select.dob-year, div.form-container form.address-form div.dob-container select.dob-day, div.form-container form.address-form div.dob-container select.dob-month, div.form-container form.address-form div.dob-container select.dob-year {
      width: 60% / 3; }
    div.form-container form.login-form div.dob-container select.dob-month, div.form-container form.signup-form div.dob-container select.dob-month, div.form-container form.address-form div.dob-container select.dob-month {
      margin-right: 10px; }
    div.form-container form.login-form div.dob-container select.dob-year, div.form-container form.signup-form div.dob-container select.dob-year, div.form-container form.address-form div.dob-container select.dob-year {
      margin-left: 10px; }
  div.form-container form.login-form button, div.form-container form.signup-form button, div.form-container form.address-form button {
    font-size: 16px;
    font-weight: 60;
    text-transform: uppercase;
    background-color: #81C7EA;
    border-radius: 3px;
    padding: 10px;
    color: #FFF;
    border: none;
    width: 100%;
    display: block;
    margin: 20px auto 50px; }

.reps-display h2 {
  text-transform: uppercase;
  margin-bottom: -25px; }

.reps-display .reps-list {
  display: flex;
  flex: 1;
  justify-content: space-around;
  font-size: 14px;
  flex-wrap: wrap;
  margin: 20px 0 40px 0; }
  .reps-display .reps-list .bio-photo {
    max-width: 140px;
    margin: 20px 0 5px 0; }
  .reps-display .reps-list p {
    margin: 0;
    text-align: center; }
    .reps-display .reps-list p.name {
      font-weight: 500; }
    .reps-display .reps-list p.match-score {
      margin: 5px 0;
      font-size: 28px;
      color: #81C7EA; }
    .reps-display .reps-list p.with-me {
      font-size: 16px;
      margin-top: -15px;
      color: #81C7EA;
      text-align: center;
      font-family: "Bitter", serif;
      font-style: italic; }

.scorecards-list {
  background-color: #81C7EA;
  margin: 0;
  padding: 20px 15px 40px 15px; }
  .scorecards-list h2 {
    color: white;
    text-transform: uppercase;
    margin-top: 0; }
  .scorecards-list .scorecard {
    background-color: white;
    margin: 20px 0;
    border: 1px solid #B4B4B4;
    border-radius: 4px;
    padding: 10px; }
    .scorecards-list .scorecard .name {
      font-weight: 500;
      font-size: 26px;
      margin-top: 10px; }
    .scorecards-list .scorecard .role {
      text-align: center;
      margin-top: -5px; }
    .scorecards-list .scorecard .photo-grade-container {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin: 30px auto; }
      .scorecards-list .scorecard .photo-grade-container .photo-container {
        width: 50%; }
        .scorecards-list .scorecard .photo-grade-container .photo-container .bio-photo {
          width: 90%;
          height: auto;
          margin: 5px; }
      .scorecards-list .scorecard .photo-grade-container .letter-grade-container {
        text-align: center;
        background-color: #A3BE4B;
        border-radius: 4px;
        width: 50%;
        box-sizing: border-box; }
        .scorecards-list .scorecard .photo-grade-container .letter-grade-container .info-icon {
          float: right;
          color: white;
          padding: 0 5px 5px 0;
          margin: -15px 0 0 0; }
        .scorecards-list .scorecard .photo-grade-container .letter-grade-container p {
          color: white;
          text-transform: uppercase;
          margin: 15px 0 -20px 0;
          font-size: 18px; }
          .scorecards-list .scorecard .photo-grade-container .letter-grade-container p.grade {
            font-size: 80px;
            margin: -20px;
            color: white;
            text-align: center; }
    .scorecards-list .scorecard .badge-container {
      margin: 10px auto;
      display: flex;
      flex: 1;
      justify-content: center; }
      .scorecards-list .scorecard .badge-container i {
        font-size: 32px;
        color: #B4B4B4;
        padding: 5px; }
    .scorecards-list .scorecard .alignment-container h3 {
      font-size: 18px;
      margin: 40px 0 0 0;
      text-transform: uppercase;
      color: #373737; }
    .scorecards-list .scorecard .alignment-container .alignment-breakdown {
      margin: 20px auto;
      display: flex;
      justify-content: space-between; }
      .scorecards-list .scorecard .alignment-container .alignment-breakdown .percentages {
        margin-top: -10px;
        width: 33.33%;
        text-align: center; }
        .scorecards-list .scorecard .alignment-container .alignment-breakdown .percentages p {
          font-weight: 500;
          font-size: 13px;
          width: 100%;
          margin: 0 auto; }
          .scorecards-list .scorecard .alignment-container .alignment-breakdown .percentages p.alignment-score {
            font-size: 26px;
            padding-top: 10px;
            color: #81C7EA; }
        .scorecards-list .scorecard .alignment-container .alignment-breakdown .percentages img {
          max-width: 60%; }
    .scorecards-list .scorecard .learn-more .view-rep-btn {
      background-color: #81C7EA;
      text-transform: uppercase;
      font-size: 18px;
      color: white;
      width: 90%;
      margin: 20px auto 10px auto;
      display: block;
      border: none;
      border-radius: 4px; }

.tally-container {
  text-align: center;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 60px;
  background-color: #81C7EA; }

.tally-score {
  color: white;
  line-height: 120px;
  height: 120px;
  font-size: 60px;
  margin: 0; }

.score-toggle {
  margin: 20px auto;
  text-align: center;
  width: 100%; }
  .score-toggle a {
    text-decoration: none;
    color: #373737;
    font-size: 20px;
    font-weight: 500; }
    .score-toggle a.active {
      border-bottom: 2px solid #81C7EA;
      padding-bottom: 3px;
      color: #81C7EA; }
  .score-toggle p {
    margin: 10px auto;
    width: 90%; }

.not-found-page {
  width: 100%; }
  .not-found-page h2 {
    margin-top: 40%;
    color: #81C7EA; }
  .not-found-page .back {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle; }
    .not-found-page .back p, .not-found-page .back li, .not-found-page .back a {
      font-size: 18px; }
      .not-found-page .back p:hover, .not-found-page .back p:active, .not-found-page .back li:hover, .not-found-page .back li:active, .not-found-page .back a:hover, .not-found-page .back a:active {
        text-decoration: none;
        color: #373737; }
