@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i");
body, #app {
  background-color: #FFF;
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0; }

.page-wrap {
  height: 100%;
  width: 100%;
  overflow-y: hidden; }

.signup-page, .login-page {
  width: 95%;
  margin: 0 auto;
  display: block; }

h1, h2, h3, h4, p, ul, li, a, label, input {
  font-family: "Roboto", sans-serif, "Arial", sans-serif;
  color: #444545; }

p, li, a, label, input {
  font-size: 16px;
  font-weight: 300;
  color: #444545; }

h1, h2, h3, h4 {
  text-align: center; }

h2 {
  color: #FF5158;
  margin: 20px auto;
  width: 100%;
  display: block; }
  h2.page-title {
    margin-bottom: 0;
    font-size: 26px; }

h3.headline {
  font-size: 24px;
  color: #FF5158;
  margin: 20px auto 5px auto; }

.error {
  color: #FF5158;
  font-weight: 400;
  text-align: center; }

.footer {
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  position: fixed;
  display: flex;
  text-align: center;
  -webkit-box-shadow: 0 -1px 10px 1px #DCDCDD;
  box-shadow: 0 -1px 10px 1px #DCDCDD; }
  .footer .nav {
    height: 100%;
    width: 50%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center; }
    .footer .nav a {
      color: #ff6b70;
      text-decoration: none;
      text-transform: none;
      font-size: 18px; }
    .footer .nav.active {
      background-color: #ff6b70; }
      .footer .nav.active a {
        color: #FFF;
        font-weight: 400; }

.form-container {
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: center; }
  .form-container .login-form input, .form-container .login-form select, .form-container .signup-form input, .form-container .signup-form select {
    border: 1px solid #DCDCDD;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box; }
  .form-container .login-form label, .form-container .login-form input, .form-container .login-form select, .form-container .signup-form label, .form-container .signup-form input, .form-container .signup-form select {
    display: block;
    width: 100%;
    margin: 10px 0;
    text-align: left;
    color: #444545;
    background-color: #FFF;
    font-size: 16px;
    font-weight: 300; }
  .form-container .login-form label, .form-container .signup-form label {
    color: #444545;
    margin: 20px 0 10px 0; }
  .form-container .login-form .dob-container, .form-container .signup-form .dob-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .form-container .login-form .dob-container .dob-day, .form-container .login-form .dob-container .dob-month, .form-container .login-form .dob-container .dob-year, .form-container .signup-form .dob-container .dob-day, .form-container .signup-form .dob-container .dob-month, .form-container .signup-form .dob-container .dob-year {
      width: 60% / 3; }
    .form-container .login-form .dob-container .dob-month, .form-container .signup-form .dob-container .dob-month {
      margin-right: 10px; }
    .form-container .login-form .dob-container .dob-year, .form-container .signup-form .dob-container .dob-year {
      margin-left: 10px; }

.greeting-banner {
  background-color: #92e8ff;
  margin: 0;
  width: 100%; }
  .greeting-banner h2.greeting {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    color: #FFF;
    padding: 10px;
    box-sizing: border-box; }

.your-district {
  font-size: 14px;
  text-align: center;
  margin: 0 auto 20px auto; }

.rep-info-clusters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%; }

.rep-info-cluster-wrap {
  position: relative;
  width: 95%;
  margin: 0 auto; }

.rep-info-cluster {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin: 10px;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 25px 1px #DCDCDD;
  box-shadow: 0 0 25px 1px #DCDCDD;
  border-radius: 15px;
  padding: 12px;
  cursor: pointer; }
  .rep-info-cluster:active {
    box-shadow: 0 0 25px 1px #47E5BC;
    -webkit-box-shadow: 0 0 25px 1px #47E5BC; }

.rep-info-headshot {
  flex-grow: 1;
  min-width: 110px;
  min-height: 110px;
  max-width: 110px;
  max-height: 110px;
  border-radius: 55px;
  -webkit-box-shadow: 0 3px 15px 3px #92e8ff;
  box-shadow: 0 3px 15px 3px #92e8ff; }

.rep-info-details {
  font-size: 14px;
  flex: 1;
  padding: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.rep-info-name {
  color: #92e8ff;
  font-weight: 700;
  margin: 0; }

.rep-info-role {
  margin: 0;
  font-weight: 300;
  font-size: 14px; }

.report-card-wrap {
  margin: 0;
  padding: 20px 15px 40px 15px; }

.report-card {
  margin: 20px 0;
  text-align: center; }
  .report-card .memberships h4 {
    text-align: left;
    margin: 5px; }
  .report-card .memberships ul {
    text-align: left;
    padding-left: 20px; }
  .report-card .alignment-container h3 {
    font-size: 18px;
    margin: 40px 0 0 0;
    text-transform: uppercase;
    color: #444545; }

.report-card-name {
  font-weight: 400;
  font-size: 26px;
  margin: 0; }

.report-card-role {
  margin: 5px;
  font-weight: 500; }

.report-card-photo-wrap {
  margin: 0 auto;
  display: block;
  width: 200px; }

.report-card-photo {
  height: 200px;
  border-radius: 100px; }

.report-card-metrics-wrap .sliders {
  width: 100%; }
  .report-card-metrics-wrap .sliders .slider-container .slider-labels {
    width: 94%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .report-card-metrics-wrap .sliders .slider-container .slider-labels p {
      font-size: 14px;
      margin-bottom: 0; }
    .report-card-metrics-wrap .sliders .slider-container .slider-labels ul {
      text-align: left; }
  .report-card-metrics-wrap .sliders .slider-container .slider-body {
    border-radius: 8px;
    background-color: #FFF;
    width: 95%;
    margin: 0 auto;
    border: 1px solid #444545;
    overflow: hidden; }
  .report-card-metrics-wrap .sliders .slider-container .slider-bar {
    border-radius-top-left: 8px;
    border-radius-bottom-left: 8px;
    height: 1em; }

.report-card-metrics-wrap .job-score {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #47E5BC;
  border-radius: 4px;
  width: 30%;
  box-sizing: border-box; }
  .report-card-metrics-wrap .job-score p {
    color: white;
    text-transform: uppercase;
    margin: 15px 0 -20px 0;
    font-size: 16px; }
    .report-card-metrics-wrap .job-score p.grade {
      font-size: 60px;
      margin: -20px;
      color: white;
      text-align: center; }

.report-card-learn-more .view-rep-btn {
  background-color: #92e8ff;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  width: 90%;
  margin: 20px auto 10px auto;
  display: block;
  border: none;
  border-radius: 4px; }

.not-found-page .back {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  display: inline-flex;
  justify-content: center;
  vertical-align: middle; }
  .not-found-page .back p, .not-found-page .back li, .not-found-page .back a {
    font-size: 18px; }
    .not-found-page .back p:hover, .not-found-page .back p:active, .not-found-page .back li:hover, .not-found-page .back li:active, .not-found-page .back a:hover, .not-found-page .back a:active {
      text-decoration: none;
      color: #444545; }

button {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #92e8ff;
  border-radius: 3px;
  padding: 15px 10px;
  color: #FFF;
  border: none;
  width: 100%;
  display: block;
  margin: 20px auto 50px; }

.signup-page .signup-part-one {
  margin-top: 20vh; }

.signup-page .signup-part-two {
  margin-top: 10vh; }

.bio-container .bio-header {
  text-align: center;
  margin: 0 auto; }
  .bio-container .bio-header .bio-photo {
    margin: 0 auto;
    max-width: 200px;
    height: 200px;
    border-radius: 100px; }

.bio-container .bio-body .bio-text {
  font-size: 16px;
  padding: 20px; }
