.about-wrap {
  margin: 0 auto;
  text-align: left;

  .blue-header{
    min-height: 150px;
  }

  .about-title-wrap {
    width: 100%;
    background: lighten($blue, 10%);
    &:last-of-type {
      margin: 30px 0 20px 0;
    }
  }

  .about-title {
    color: white;
    text-transform: uppercase;
    padding: 30px 0;
    width: 70%;
    margin: 0 auto;
    font-weight: 400;
    text-align: left;
  }

  .about-metrics h4, h5, p,
  .about-team h4, h5, p {
    margin: 5px auto;
    width: 70%;
  }

  section {
    padding-top: 20px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
    color: $blue;
    font-weight: 500;
    text-align: left;
    margin: 20px auto 10px auto;
  }

  h5 {
    font-size: 16px;
    text-align: left;
    margin: 30px auto 10px auto;
  }

  .about-team {
    margin: 0 0 100px 0;
    p {
      margin-bottom: 20px;
    }
  }

  .team-list {
    width: 70%;
    margin: 0 auto;
  }

}
