button {
  font-size: $paragraph-size;
  font-weight: 60;
  text-transform: uppercase;
  background-color: $sky-blue;
  border-radius: 3px;
  padding: 10px;
  color: #FFF;
  border: none;
  width: 100%;
  display: block;
  margin: 20px auto 50px;
} 