[class*="button--"] {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $br-medium;
  background-color: $blue;
  color: white;
  text-align: center;
  transition: all .2s ease-out;
}

.button-contents {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.button--small {
  height: 22px;
  font-size: 14px;
}

.button--medium {
  height: 30px;
  font-size: 14px;
}

.button--large {
  height: 40px;
}

.button--white {
  background-color: white;
  color: $blue;
}

.button--red {
  background-color: $bright-red;
}

.button--gray {
  background-color: $gray;
}

.button--outline {
  background-color: transparent;
  border: 1px solid;
  color: inherit;

  &.button--gray {
    background-color: transparent;
    color: transparentize(black, .7);
  }

  &.button--white {
    background-color: transparent;
    color: white;
  }
}

.control-button {
  background-color: white;
  border: 1px solid $blue;
  cursor: pointer;
}

.question-mark-circle {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $brand-font, 'Arial', sans-serif;
  font-size: 20px;
  color: $blue-light;
}
