.rep-card-wrap {
  margin: 60px 20px;
  background: $white;
  border-radius: 15px;
  box-shadow: 0 5px 25px rgba(0,0,0,.35);
  position: relative;
}

.rep-card-header-wrap {
  display: flex;
  flex-direction: column;
  background: $blue;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.rep-card-close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rep-card-photo {
  margin: 0 auto;
  margin-top: -50px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.rep-card-name {
  text-align: center;
  font-weight: 400;
  font-size: 26px;
  margin: 5px 15px;
  color: $white;
}

.rep-card-role {
  text-align: center;
  margin: 5px 15px;
  color: $white;
  span {
    color: $white;
  }
}

.rep-card-leadership {
  text-align: center;
  margin: 5px 15px;
  color: $white;
}

.rep-card-section-title {
  color: $soft-red;
  font-size: 20px;
}

.rep-card-sliders {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .slider-container {
    display: inline-block;
  }
  .slider-body {
    border-radius: 8px;
    background-color: #FFF;
    width: 95%;
    margin: 0 auto;
    border: 1px solid $text-gray;
    overflow: hidden;
  }
  .slider-bar {
    border-radius-top-left: 8px;
    border-radius-bottom-left: 8px;
    height: 1em;
  }
}

.rep-card-learn-more {
  .view-rep-btn {
    background-color: $blue;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    width: 90%;
    margin: 20px auto 10px auto;
    display: block;
    border: none;
    border-radius: 4px;
  }
}

.rep-card-contact-list {
  margin: 0;
  padding: 0;
}

.rep-card-contact-list-item {
  list-style: none;
  padding: 20px;
  border-bottom: 1px solid $light-gray;
  text-transform: capitalize;
  &:last-child {
    border-bottom: 0;
  }
}

.rep-card-bio-list-item {
  padding: 10px;
  text-transform: capitalize;
}

.rep-card-buttons-wrap {
  width: 70%;
  display: flex;
  margin: 0 auto;
}

.contact-btn, .bio-btn {
  border: 1px solid $white;
  color: $white;
  font-size: 14px;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 5px;
  box-sizing: border-box;
  width: 50%;
  &.active {
    background: $white;
    color: $blue;
  }
}

.basic-donut-chart-middle {
  p {
    font-weight: 600;
    font-family: $header-font;
  }
}

.card-toggle-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  .card-toggle-stats {
    color: #FFF;
    cursor: pointer;
    background-color: $blue;
    font-weight: 300;
    text-align: center;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 10px 5px 0 5px;
    padding: 15px 5px;
    flex: 1;
    &.active {
      color: $blue;
      background-color: #FFF;
      font-weight: 600;
      position: relative;
      top: 2px;
    }
  }
}

.rep-card-grade-wrap {
  width: 50px;
  height: 50px;
  align-self: center;
  border: 3px solid #FFF;
  box-sizing: border-box;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  flex-shrink: 1;
}

.rep-card-grade {
  font-size: 26px;
  color: #FFF;
  font-weight: 400;
}
