.rep-card-wrap {
  margin: 60px auto;
  max-width: 700px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 25px transparentize($blue, 0.65);
  position: relative;
}

.rep-card-header-wrap {
  display: flex;
  flex-direction: column;
  background: $blue;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.rep-card-close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rep-card-photo {
  margin: 0 auto;
  margin-top: -50px;
  margin-bottom: 15px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.rep-card-name {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  margin: 0 15px;
}

.rep-card-position-wrap {
  margin-bottom: 15px;
}

.rep-card-role, .rep-card-leadership {
  display: block;
  text-align: center;
  margin: 0 15px;
}

.rep-card-buttons-wrap {
  display: flex;
  justify-content: center;
  padding: 0 15px;
  margin-bottom: 15px;
}

.contact-btn, .bio-btn {
  width: 90px;
  border: 1px solid white;
  color: white;
  font-size: 14px;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  &:not(:last-child) {
    margin-right: 10px;
  }
  &.active {
    background: white;
    color: $blue;
  }
}


.rep-card-metrics-wrap {
  padding: 0 15px 20px 15px;
}

.rep-card-section-title {
  color: $soft-red;
  font-size: 20px;
  margin: 20px 0;
  position: relative;
}

.rep-card-sliders {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .slider-container {
    display: inline-block;
  }
  .slider-body {
    border-radius: 8px;
    background-color: #FFF;
    width: 95%;
    margin: 0 auto;
    border: 1px solid $text-gray;
    overflow: hidden;
  }
  .slider-bar {
    border-radius-top-left: 8px;
    border-radius-bottom-left: 8px;
    height: 1em;
  }
}

.rep-card-learn-more {
  .view-rep-btn {
    background-color: $blue;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    width: 90%;
    margin: 20px auto 10px auto;
    display: block;
    border: none;
    border-radius: 4px;
  }
}

.rep-card-contact-list-item {
  list-style: none;
  padding: 20px;
  text-transform: capitalize;
  &:not(:last-child) {
    border-bottom: 1px solid $light-gray;
  }
}

.rep-card-bio-list {
  padding-left: 1em;
  margin: 0 15px;
}

.rep-card-bio-list-item {
  padding: 10px 0;
}

.basic-donut-chart-middle {
  p {
    font-weight: 600;
    font-family: $header-font;
  }
}

.card-toggle-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.card-toggle-stats {
  color: #FFF;
  cursor: pointer;
  background-color: $blue;
  font-weight: 300;
  text-align: center;
  font-size: 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 10px 5px 0 5px;
  padding: 15px 5px;
  flex: 1;
  &.active {
    color: $blue;
    background-color: #FFF;
    font-weight: 600;
    position: relative;
    top: 2px;
  }
}

.rep-card-header-wrap {
  .rep-letter-grade-wrap {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0.35;
  }

  .rep-letter-grade {
    font-size: 42px;
    color: $blue;
  }
}

.rep-belief-slider-wrap {
  position: relative;
  background: $light-gray;
  border-radius: 10px;
  // width: 100%;
  height: 10px;
  margin: 0;
  padding: 0px;
}

.rep-belief-slider {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -10px;
  border-radius: 30px;
  background: $blue;
  background-size: cover;
}

.rep-belief-item-type {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.rep-belief-item:not(:last-child) {
  margin-bottom: 50px;
}

.policy-areas {

}

.policy-area {
  margin-bottom: 15px;
}

.policy-area-divs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.policy-area-div {
  background-color: $teal-green;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  margin-right: 5px;
}
