.greeting-banner {
  background-color: $blue;
  margin: 0;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  h2.greeting {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    color: #FFF;
    padding: 10px;
    box-sizing: border-box;
  }
}

.your-district {
  font-size: 14px;
  text-align: center;
  margin: 0 auto 20px auto;
}

.rep-info-clusters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.rep-info-cluster-wrap {
  position: relative;
  width: 95%;
  margin: 0 auto;
  &:last-child {
    margin-bottom: 50px;
  }
}

.rep-info-cluster {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin: 10px 10px 10px 30px;
  box-sizing: border-box;
  border: 1px solid $blue;
  border-radius: 15px;
  padding: 12px;
  height: 120px;
  cursor: pointer;
  transition: box-shadow 0.1s linear;
  box-shadow: 0 0 10px 3px lighten($blue-gray, 20%);
  -webkit-box-shadow: 0 0 10px 3px lighten($blue-gray, 20%);
  &:active {
    box-shadow: 0 0 10px 3px $blue;
    -webkit-box-shadow: 0 0 25px 1px $blue;
  }
}

.rep-info-headshot {
  position: absolute;
  left: 0px;
  flex-grow: 1;
  min-width: 80px;
  min-height: 80px;
  max-width: 80px;
  max-height: 80px;
  border-radius: 55px;
}

.rep-info-details {
  font-size: 14px;
  flex: 1;
  padding-left: 50px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rep-info-name {
  color: $blue;
  font-weight: 700;
  margin: 0;
}

.rep-info-role {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
}

.report-card-wrap {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: white;
  margin: 50px 30px 80px 30px;
  padding: 0 15px;
  box-sizing: border-box;
  border-radius: 15px;
}

.report-card-name {
  text-align: center;
  font-weight: 400;
  font-size: 26px;
  margin: 5px 15px;
  color: $white;
}

.report-card-role {
  text-align: center;
  margin: 5px 15px;
  color: $white;
}

.report-card-leadership {
  text-align: center;
  margin: 5px 15px;
  color: $white;
}

.report-card-photo-wrap {
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 40px;
  position: relative;
}

.report-card-section-title {
  color: $soft-red;
}

.report-card-close {
  position: absolute;
  top: -10px;
  right: -70px;
  background-color: $white;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $light-gray;
}

.report-card-photo {
  position: absolute;
  top: -65px;
  left: 50px;
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.report-card-header-wrap {
  display: flex;
  flex-direction: column;
  background: $blue;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-bottom: 15px;
}

.report-card-sliders {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .slider-container {
    display: inline-block;
  }
  .slider-body {
    border-radius: 8px;
    background-color: #FFF;
    width: 95%;
    margin: 0 auto;
    border: 1px solid $text-gray;
    overflow: hidden;
  }
  .slider-bar {
    border-radius-top-left: 8px;
    border-radius-bottom-left: 8px;
    height: 1em;
  }
}

.report-card-learn-more {
  .view-rep-btn {
    background-color: $blue;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    width: 90%;
    margin: 20px auto 10px auto;
    display: block;
    border: none;
    border-radius: 4px;
  }
}

.rep-letter-grade-wrap {
  width: 50px;
  height: 50px;
  border: 3px solid $blue;
  box-sizing: border-box;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  flex-shrink: 1;
}

.rep-letter-grade {
  font-size: 26px;
  color: $blue;
  font-weight: 400;
}
