.rep-info-clusters {
  display: flex;
  flex: 1;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cluster {
  margin: 20px 0 40px 0;
  .bio-photo {
    height: 140px;
    max-height: 140px;
    border-radius: 70px;
    margin: 20px 0 5px 0;
  }
  p { 
    margin: 0;
    text-align: center;
    &.name { 
      font-weight: 500; 
    }
    &.match-score {
      margin: 5px 0;
      font-size: 28px;
      color: $sky-blue;
    }
    &.with-me {
      font-size: 16px;
      margin-top: -15px;
      color: $sky-blue;
      text-align: center;
      font-family: $bitter;
      font-style: italic;
    }
  }
}

.report-cards {
  background-color: $sky-blue;
  margin: 0;
  padding: 20px 15px 40px 15px;
  h3 {
    color: white;
    text-transform: uppercase;
    margin-top: 0;
  }
  .card {
    background-color: white;
    margin: 20px 0;
    border: 1px solid $medium-gray;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    .name {
      font-weight: 400;
      font-size: 26px;
      margin: 0;
    }
    .role {
      margin: 5px;
    }
    .photo-container {
      margin: 0 auto;
      display: block;
      width: 200px;
      .bio-photo {
        height: 200px;
        border-radius: 100px;
      }
    }
    .metrics-container {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin: 30px auto;
      .sliders {
        width: 50%;
      }
      .job-score {
        text-align: center;
        background-color: $light-green;
        border-radius: 4px;
        width: 50%;
        box-sizing: border-box;
        .info-icon {
          float: right;
          color: white;
          padding: 0 5px 5px 0;
          margin: -15px 0 0 0;
        }
        p {
          color: white;
          text-transform: uppercase;
          margin: 15px 0 -20px 0;
          font-size: 18px;
          &.grade {
            font-size: 80px;
            margin: -20px;
            color: white;
            text-align: center;
          }
        }
      }
    }
    .badge-container {
      margin: 10px auto;
      display: flex;
      flex: 1;
      justify-content: center;
      i {
        font-size: 32px;
        color: $medium-gray;
        padding: 5px;
      }
    }
    .alignment-container {
      h3 {
        font-size: 18px;
        margin: 40px 0 0 0;
        text-transform: uppercase;
        color: $text-gray;
      }
      .alignment-breakdown {
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
        .percentages {
          margin-top: -10px;
          width: 33.33%;
          text-align: center;
          p {
            font-weight: 500;
            font-size: 13px;
            width: 100%;
            margin: 0 auto;
            &.alignment-score {
              font-size: 26px;
              padding-top: 10px;
              color: $sky-blue;
            }
          }
          img {
            max-width: 60%;
          }
        }
      }
    }
    .learn-more {
      .view-rep-btn {
        background-color: $sky-blue;
        text-transform: uppercase;
        font-size: 18px;
        color: white;
        width: 90%;
        margin: 20px auto 10px auto;
        display: block;
        border: none;
        border-radius: 4px;
      }
    }
  }
}




