header.logo {
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  .logo-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: 30px;
    width: 70%;
    .tally-logo {
      width: 30px;
      height: 30px;
      margin: 0 10px 0 15px;
    }
    .tally-logo-helper {
      font-size: 22px;
      color: $text-gray;
      font-weight: 600;
      margin-bottom: 5px;
      font-family: 'Work Sans', sans-serif;
      text-decoration: none;
      a, a:hover, a:visited, a:active {
        text-decoration: none;
        color: $text-gray;
      }
    }
  }
  .user-container {
    margin-top: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    .greeting {
      font-size: 18px;
      font-weight: 300;
      color: $text-gray;
      margin: 0;
      padding-top: 10px;
      width: auto;
    }
    .logout {
      color: $text-gray;
      padding: 30px 20px 20px 20px;
    }
  }
}


.your-location {
  margin-bottom: 20px;
  padding-bottom: 10px;
  background-color: $blue;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    @include min-width($tablet) {
      font-size: 26px;
    }
  }

  // @include media(">tablet") {
  //   height: 100px;
  // }
}

.headline {
  margin-top: -20px;
}

.state-icon {
  width: 35px;
  margin-right: 10px;
}

.state-icon-image {
  fill: white;
}

.location-info {
  display: flex;
  justify-content: center;
}

.state-icon {
  width: 35px;
  margin-right: 10px;
}

.state-icon-image {
  fill: white;
}

.location-info {
  display: flex;
  justify-content: center;
}

.your-district {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin: 0 auto 20px auto;

  .state-icon {
    fill: white;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    @media screen and (min-width: 700px) {
      width: 50px;
      height: 50px;
    }
  }

  .state {
    font-weight: 600;
    margin-right: 5px;
  }
}

.main-dash {
  padding-bottom: 70px;
}

.tap-a-rep {
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  align-self: center;
  width: 100%;
  margin: 15px auto;
  display: block;
  @include min-width($desktop) {
    display: none;
  }
}

.settings-top {
  margin: 20px 20px 0 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  h3 {
    font-weight: 400;
  }
  @include min-width($tablet) {
    display: none;
  }
}

.rep-info-clusters {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin: 0 auto;

  &.mobile {
    max-width: 600px;
    @include min-width($desktop) {
      display: none;
    }
  }

  &.desktop {
    flex-direction: row;
    justify-content: center;
    padding: 0 15px;

    @include max-width($desktop) {
      display: none;
      flex-flow: row wrap;
    }

    .rep-card-wrap {
      flex-basis: 350px;
      margin: 60px 15px;
    }

    .rep-card-content {
      display: flex;
      flex-flow: column;
    }
  }
}

.rep-info-cluster-wrap {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.rep-info-cluster {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 15px;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  transition: box-shadow 0.1s linear;
  @include card-shadow;
}

.rep-info-headshot {
  position: relative;
  margin-left: -30px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.rep-info-details {
  font-size: 16px;
  flex-grow: 1;
  padding: 0 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rep-info-name {
  color: $blue;
  font-weight: 700;
  margin: 0;
}

.rep-info-role {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
}

.rep-letter-grade-wrap {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  transform: rotate(-12deg);
  position: relative;
}

.rep-letter-grade {
  font-size: 21px;
  color: white;
  font-weight: 700;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $header-font;
}
