.footer {
  width: 100%;
  left: 0; right: 0; bottom: 0;
  height: 60px;
  position: fixed;
  display: flex;
  text-align: center;
  -webkit-box-shadow: 0 -1px 10px 1px $light-gray;
  box-shadow: 0 -1px 10px 1px $light-gray;
}

.footer-nav {
  height: 100%;
  width: 50%;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: $dark-gray;
    text-decoration: none;
    text-transform: none;
    font-size: 18px;
  }
  &.active {
    a {
      color: $soft-red;
      font-weight: 400;
    }
  }
}
