.nav-bar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: stretch;
  text-align: center;
  background-color: white;
  margin: 0 auto;
  position: relative;

  .main-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }

  .nav-logo {
    position: absolute;
    left: 0;
    height: 100%;
    padding-left: 20px;
  }
}

.settings {
  @include media("<tablet") {
    display: none;
  }
}

.nav-logo {
  display: flex;
  align-items: center;

  .tally-logo {
    width: 25px;
    margin-right: 15px;
  }

  .logo-text {
    font-size: 20px;
    font-family: $header-font;
    color: $text-gray;
    font-weight: 600;
  }
}

.nav-bar-tab {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: black;
  font-size: 14px;
  text-decoration: none;
  opacity: 0.5;
  &.active {
    opacity: 1;
    color: $soft-red;
    font-weight: 400;
    transform: translateY(-1px);
    svg {
      path {
        fill: $soft-red;
      }
    }
  }
}

.nav-bar-tab_icon {
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
  }
}

.nav-bar--top {
  padding: 0 20px;

  .nav-bar-tab {
    padding: 15px 20px;

    &.active {
      box-shadow: inset 0 3px;
    }
  }

  .nav-bar-tab_title {
    font-size: 18px;
  }

  .nav-bar-tab_icon {
    width: 20px;
    margin-right: 10px;
  }

  @include media(">=tablet") {
    .nav-bar-tab {
      &.settings {
        position: absolute;
        right: 0;
        padding: 15px 20px;
      }
    }
  }

  @include media(">=desktop") {
    .nav-bar-tab {
      padding: 15px 30px;
    }
  }
}

.nav-bar--bottom {
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  border-top: 1px solid rgba(0, 0, 0, 0.15);

  .main-tabs {
    flex-grow: 1;
    height: 100%;
  }

  .nav-bar-tab {
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0;

    &.active {
      box-shadow: 0 -3px 0 -1px;
    }
  }

  .nav-bar-tab_icon {
    margin-bottom: 5px;
    height: 20px;
    svg {
      width: 20px;
    }
  }

  .current-user {
    display: none;
  }
}

@include media("<tablet") {
  .nav-bar--top {
    display: none;
  }
  .nav-bar--bottom {
    display: flex;
  }
}

@include media(">=tablet") {
  .nav-bar--top {
    display: flex;
  }
  .nav-bar--bottom {
    display: none;
  }
}
