

.footer {
    width: 100%;
    position: absolute;
    left: 0; right: 0; bottom: 0;
    height: 90px;
    position: fixed;
  .navbar {
    background-color: black;
    ul.nav-list {
      padding-left: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      height: 50px;
      margin: 0;
      li {
        padding: 0 10px;
        a {
          color: white;
          text-decoration: none;
        }
        a:hover {
          color: $sky-blue;
          text-decoration: none;
        }
      }
    }
  }
  .scroll-buffer {
    height: 10px;
    background-color: white;
  }
  .scroll-fade {
    height: 30px;
    background: linear-gradient(to bottom, transparent, white); /* Standard syntax (must be last) */
  }
}

