.form-container {
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: center;
  .login-form, .signup-form {
     input, select {
      border: 1px solid $light-gray;
      border-radius: 5px;
      padding: 5px;
      margin: 5px 0;
      box-sizing: border-box;
      }
      label, input, select {
        display: block;
        width: 100%;
        margin: 10px 0;
        text-align: left;
        color: $medium-gray;
        background-color: #FFF;
        font-size: $paragraph-size;
        font-weight: 300;
      }
      label {
        color: $text-gray;
        margin: 20px 0 10px 0;
      }
      .dob-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .dob-day, .dob-month, .dob-year {
          width: 60% / 3;
        }
        .dob-month {
          margin-right: 10px;
        }
        .dob-year {
          margin-left: 10px;
        }
      }
      button[type="submit"] {
        font-size: $paragraph-size;
        font-weight: 60;
        text-transform: uppercase;
        background-color: $sky-blue;
        border-radius: 3px;
        padding: 10px;
        color: #FFF;
        border: none;
        width: 100%;
        display: block;
        margin: 20px auto 50px;
    }
  }
}

