input, textarea, select {
  display: block;
  width: 100%;
  border-radius: $br-medium;
}

.input--outline {
  background-color: transparent;
  border: 1px solid transparentize($text-gray, .8);
}

.input-label-wrap {
  position: relative;
  width: 100%;
}

.label-input-placeholder {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: all .15s ease-in;
  color: transparentize(black, .4);
  cursor: text;
}

input:focus {
  border: 1px solid transparentize($blue, .8);

  + .label-input-placeholder {
    top: 0%;
    font-size: .85em;
    color: $blue;
    background-color: white;
    padding: 2px;
  }
}

.login-form, .signup-form {
   input, select {
    border: 1px solid $light-gray;
    border-radius: 3px;
    padding: 10px;
    margin: 5px 0;
    font-size: 18px;
    box-sizing: border-box;
    }

    label, input, select {
      display: block;
      width: 100%;
      margin: 10px 0;
      text-align: left;
      color: $text-gray;
      background-color: #FFF;
      font-size: $standard-paragraph;
      font-weight: 300;
    }

    label {
      color: $text-gray;
      margin: 20px 0 10px 0;
    }

    .dob-container {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      .dob-day, .dob-month, .dob-year {
        width: 60% / 3;
      }

      .dob-month {
        margin-right: 10px;
      }

      .dob-year {
        margin-left: 10px;
      }
    }
}