div.form-container {
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: center;
  form.login-form, form.signup-form, form.address-form {
     input, select, label {
      width: 100%;
      display: block;
      margin: 10px auto;
      text-align: left;
      }
      label {
        margin-top: 20px;
      }
      input:required:invalid, input:focus:invalid {
        color: $error-red;
        -moz-box-shadow: none;
      }
      div.dob-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        select.dob-day, select.dob-month, select.dob-year {
          width: 60% / 3;
        }
        select.dob-month {
          margin-right: 10px;
        }
        select.dob-year {
          margin-left: 10px;
        }
      }
      button {
      font-size: $paragraph-size;
      font-weight: 60;
      text-transform: uppercase;
      background-color: $sky-blue;
      color: #FFF;
      border: none;
      width: 100%;
      display: block;
      margin: 20px auto 50px;
    }
  }
}

