.navbar {
  background-color: black;
  margin-bottom: 40px;
  position: fixed;
  ul.nav-list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    padding-right: 20px;
    li {
      padding: 10px;
      margin: 0;
      a {
        color: white;
        text-decoration: none;
      }
      a:hover {
        color: $blue-light;
        text-decoration: none;
      }
    }
    h1.site-logo {
      float: left;
      margin: 0;
      padding: 0;
    }
  }
}