.home-page {
      .page-title {
            margin-top: 50%;
      }
      .home-button, .signup-button {
            margin: 20px auto;;
            font-size: 18px;
            width: 70%;
            a, a:hover, a:active {
                  color: #FFF
            }
      }
      .or {
            margin: 0 auto;
            display: block;
            width: auto;
            text-align: center;

      }
}