.loading-wrap {
  position: fixed;
  opacity: 0;
  width: 0;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
  background: transparentize(white, .3);
  z-index: $z-top;
  &.active {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
}

.loading {
  opacity: 0;
  margin: 0 auto;
  height: 100px;
  text-align: center;
  padding: 1em;
  display: block;
  vertical-align: top;
  transition: opacity 0.3s ease-in-out;
  .loading-wrap.active & {
    opacity: 1;
  }
}

.loading-text {
  display: block;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 10px;
  font-family: $header-font;
  color: $text-gray;
}

.loading-spinner-path {
  fill: $teal-green;
}
