.home-page-wrap {
  margin: 0;
  padding: 40px 0;
  background-color: white;
}

.home-section {
  width: 100%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.section-arrow {
  &:after {
   content:'';
   position: absolute;
   left: 0;
   top: 99%;
   z-index: 10;
   right: 0;
   margin: 0 auto;
   width: 0;
   height: 0;
   border-top: solid 20px white;
   border-left: solid 20px transparent;
   border-right: solid 20px transparent;
  }
}

.home-section-title {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.3em;
  margin: 20px 0;
}

.home-section-content {
  width: 700px;
  max-width: 100%;
  margin: 0 auto 20px auto;
  display: block;
  text-align: center;
  p {
    max-width: 400px;
    margin: 0 auto;
  }
}

.section-white {
  h3, p, a {
    color: white;
  }
}

//LOGIN FORM

.home-login {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
}

.login-btn {
  font-size: 18px;
  font-weight: 500;
  background-color: $soft-red;
  border: none;
  border-radius: 3px;
  padding: 15px 10px;
  color: white;
  width: 100%;
  display: block;
  margin: 20px auto;
}

.create-account {
  margin: 30px auto;
  text-align: center;
}

//ABOUT

.home-about {
  background-color: $blue;
  font-weight: 300;
  p {
    max-width: 400px;
    margin: 0 auto;
  }
  .learn-more-link {
    margin: 20px auto;
    font-weight: 600;
    text-decoration: underline;
    font-weight: 400;
  }
  &:after {
   border-top: solid 20px $blue;
  }
  .home-section-title {
    margin-top: 0;
  }
}

//TEAM

.team-list {
  list-style: none;
  padding-left: 0;
  margin: 20px 0;
  p {
    max-width: 400px;
    margin: 0 auto;
  }
}

.team-list-item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.team-name {
  color: $blue;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 400;
  display: block;
}

.team-title {
  text-transform: regular;
  font-weight: 400;
  display: block;
}

//MISSION

.home-mission {
  background-color: $soft-red;
  padding-bottom: 20px;
  p {
    max-width: 400px;
    margin: 0 auto;
  }
  &:after {
   border-top: solid 20px $soft-red;
  }
}

//CONTACT

.home-contact {
  background-color: white;
  padding-bottom: 20px;
}

.home-contact-email {
  color: $blue;
}

.login-error-msg {
  color: darken($soft-red, 25%);
  display: block;
  text-align: center;
  margin: 20px auto;
  width: 100%;
}
