.rank-wrap {
  width: 100%;
  background-color: white;
}

.rank-controls-wrap {
  width: 100%;
  background-color: $blue;
}

.rank-category-wrap {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  .rank-category-name p {
    color: white;
    cursor: pointer;
    text-align: center;
    margin: 20px;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
  }
  .rank-category-dropdown {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-self: center;
    background-color: white;
    width: 70%;
    border-radius: 3px; 
  }
  .rank-category-item {
    color: $blue;
    box-shadow: 1px 1px lighten($blue, 30%);
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    margin: 0;
    font-weight: 300;
    &.active {
      background-color: lighten($blue, 35%);
      font-weight: 700;
    }
  }
}

.rank-toggle-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  .rank-toggle-chamber {
    color: white;
    cursor: pointer;
    background-color: $blue;
    font-weight: 300;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    flex: 1;
    text-align: center;
    font-size: 16px;
    margin: 10px 10px 0 10px;
    &.active {
      color: $blue;
      background-color: white;
      font-weight: 600;
      position: relative;
      top: 2px;
    }
  }
}

.rank-list-wrap {
  background-color: white;
  margin-bottom: 100px;
}

.rank-list-ranked-direction {
  text-align: center;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.rank-list-ranked-direction-toggle {
  color: $bright-red;
  font-weight: 600;
}

.rep-rank-cluster-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 20px 10px;
}

.rep-rank-cluster {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 20px 10px;
}

.rep-rank-headshot {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 25px;
  flex-grow: 1;
  margin-right: 10px;
}

.rep-rank-stack {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rep-rank-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.rep-rank-name, .rep-rank-metrics {
  font-weight: 600;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
}

.rep-rank-metrics {
  font-weight: 300;
  padding-right: 2px;
}

.rep-rank-stats-bar {
  background-color: lighten($teal-green, 35%);
  border-radius: 8px;
  height: 1em;
  width: 100%;
}

.rep-rank-stats-fill {
  height: 100%;
  border-radius: 8px;
}

.rep-rank-number-wrap {
  border-top: 1px solid $light-gray;
}

.rep-rank-number {
  font-size: 18px;
  padding: 0 10px;
  font-weight: 600;
  color: $blue;
}

.rank-filter-wrap {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 20px;
}

.filter-input-text {
  background: white;
  color: #5E6F77;
  margin: 0;
  border: 1px solid #5E6F77;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  width: 98%;
  font-size: 16px;
  position: relative;
}

.filter-input-icon {
  position: absolute;
  right: 10px;
  width: 20px;
  padding: 5px;
  fill: $blue;
}

.rank-sort-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  .rank-sort-btn {
    border: 1px solid $blue;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    color: $blue;
    width: 25%;
    margin: 0 10px;
  }
}





