.bio-container {
  .bio-header {
    text-align: center;
    margin: 0 auto;
    .bio-photo {
      margin: 0 auto;
      max-width: 200px;
      height: 200px;
      border-radius: 100px;
    }
  }
  .bio-body {
    .bio-text {
      font-size: 16px;
      padding: 20px;
    }
  }
}

