.reps-list {
  display: flex;
  flex: 1;
  justify-content: space-around;
  font-size: 14px;
  flex-wrap: wrap;
  margin: 20px auto;
  .bio-photo {
    max-width: 140px;
    margin: 20px 0 5px 0;
  }
  p { 
    margin: 0;
    text-align: center; 
    &.name { 
      font-weight: bold; 
    }
    &.match-score {
      margin: 5px 0;
      font-size: 28px;
      color: $sky-blue;
    }
    &.with-me {
      font-size: 18px;
      margin-top: -15px;
      color: $sky-blue;
      text-align: center;
      font-family: $lobster-font;
      font-style: italic;
    }
  }

}