.reps-list {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  p {
    height: 80px;
    text-align: center;
    line-height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: $light-gray;
  }
}