.search-wrap {
  header.logo {
    width: 100%;
    height: 50px;
    margin-top: 5px;
  }
}

.search-header {
  background-color: $blue;
  margin: 0;
  width: 100%;
  padding: 20px;
  @media screen and (min-width: 400px) {
    margin-top: 20px;
  }
}

.search-bar {
  background-color: white;
  display: flex;
  align-items: center;
  width: 96%;
  margin: 10px auto;
  border-radius: 5px;
  height: 50px;
  padding: 0 10px;
  z-index: 900;
  @media screen and (min-width: 700px) {
    width: 40%;
    max-width: 600px;
    margin: 0 auto;
  }
}

.search-input-text::-webkit-input-placeholder {
  color: lighten($text-gray, 30%);
  font-weight: 200;
  font-size: 20px;
}

.search-input-text {
  background-color: white;
  color: $text-gray;
  border: 0;
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  font-family: $header-font;
  flex-grow: 1;
}

.search-result-wrap {
  margin-bottom: 60px;
  min-height: calc(100vh - 300px);
  position: relative;
}

.search-result-message {
  font-family: $brand-font;
  text-align: center;
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &:first-of-type {
    display: none;
  }
  @media screen and (min-width: 700px) {
    max-width: 500px;
    margin: 0 auto;
  }
}

.search-result-section-title {
  text-align: left;
  color: $blue;
  font-size: 20px;
  font-weight: 500;
  padding: 40px 0 10px 20px;
  @media screen and (min-width: 700px) {
    max-width: 600px;
    margin: 0 auto;
    padding-left: 0;
  }
}

.search-result-list {
  list-style: none;
  padding: 0;
  width: 100%;
  box-shadow: 0 2px 8px $light-gray;
  @media screen and (min-width: 700px) {
    max-width: 600px;
    margin: 0 auto;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $light-gray;
    padding: 10px;
    cursor: pointer;
    .start {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &-photo {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      margin-left: 10px;
    }
    &-name {
      font-weight: 600;
      padding: 10px;
      font-size: 16px;
    }
    &-party {
      font-weight: 300;
      padding: 0;
      display: block;
      font-size: 14px;
      font-weight: 300;
    }
  }
}
