.profile-wrap {

  .profile-header {
    background-color: $blue;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      color: white;
      font-weight: 500;
      margin-top: 0;
    }
  }

  .profile-info {
    margin: 0 auto;
    max-width: 640px;
    padding: 0 15px;
  }

  .pw {
    -webkit-text-security: disc;
    color: transparentize($text-gray, .4);
  }
}

.profile-button-wrap {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  padding: 0 15px;
}

.logout-button {
  font-weight: 500;
  width: 200px;
}

.profile-section {
  padding: 30px 0;
  border-bottom: 1px solid $light-gray;
}

.profile-label {
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: left;
  padding-right: 30px;
  margin-bottom: 15px;
}

.profile-section-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.profile-current-value {
  display: block;
  flex-grow: 1;
  font-size: 1.2rem;

  @include max-width($tablet) {
    width: 100%;
  }

  span {
    display: block;
  }
}

.profile-district {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: .04em;
  color: $gray-med;
}

.profile-info-update-button {
  @include max-width($tablet) {
    font-size: 14px;
    margin-top: 15px;
    margin-left: auto;
  }
}

.profile-input-wrap {
  margin-bottom: 15px;
}

.profile-input {
  padding: 10px;
}

.profile-section-controls {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  button {
    margin-left: 10px;
  }
}