.signup-page {
  height: 70vh;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  h2 {
    margin: 20px 0;
  }
}

.signup-link {
  color: $blue;
  font-weight: 400;
}

.signup-form {
  width: 90%;
  margin: 0 auto;
  display: auto;
}

.signup-part-one {
  margin-top: 20vh;
}

.signup-part-two {
  margin-top: 10vh;
  .signup-help-us {
    font-size: 14px;
    margin: 30px;
    margin-top: -15px;
    font-weight: 300;
    font-style: italic;
  }
}

.signup-error-msg {
  color: darken($soft-red, 25%);
  display: block;
  text-align: center;
  margin: 20px auto;
  width: 100%;
}


#progress-signup, .signup-btn {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: $blue;
  border-radius: 3px;
  padding: 15px 10px;
  color: #FFF;
  border: none;
  width: 100%;
  display: block;
  margin: 20px auto 50px;
}
