.tally-container {
  text-align: center;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 60px;
  background-color: $sky-blue;
}

.tally-score {
  color: white;
  line-height: 120px;
  height: 120px;
  font-size: 60px;
  margin: 0;
}

.score-toggle {
  margin: 20px auto;
  text-align: center;
  width: 100%;
  a {
    text-decoration: none;
    color: $text-gray;
    font-size: 20px;
    font-weight: 500;
    &.active {
      border-bottom: 2px solid $sky-blue;
      padding-bottom: 3px;
      color: $sky-blue;
    }
  }
  p {
    margin: 10px auto;
    width: 90%;
  }
}