html, body {
  background-color: white;
  height: 100%;
}

.page-wrap {
  background-color: white;
  overflow-y: hidden;
  padding-bottom: 30px;
}

.page-content {
  min-height: 100%;
  position: relative;
}

.signup-page,
.login-logout-page {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.login-logout-page {
  margin: 15vh 0;
}

button {
  font-size: $paragraph-size;
  font-weight: 60;
  text-transform: uppercase;
  background-color: $sky-blue;
  border-radius: 3px;
  padding: 10px;
  color: #FFF;
  border: none;
  width: 100%;
  display: block;
  margin: 20px auto 50px;
}
