html, body {
  background-color: white;
  height: 100%;
}

.page-wrap {
  background-color: white;
  overflow-y: hidden;
  padding-bottom: 30px;
  @include breakpoint(baby-bear) { 
  }
}

.page-content {
  min-height: 100%;
  position: relative;
  padding-bottom: 90px;
}

.signup-page, .login-page {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.signup-page { margin: 5vh 0; }
.login-page { margin: 15vh 0; }
