h1, h2, h3, p, ul, li, a, label, input {
 font-family: $muli-font;
 line-height: $standard-line-height;
}

p,  li, a, label, input  {
  font-size: $paragraph-size;
  font-weight: 300;
  color: $text-gray;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: $standard-h1;
}

h2 {
  font-size: $standard-h2;
}

h2.page-title {
  font-size: 30px;
  margin: 10px auto;
  width: 100%;
  display: block;
  text-align: center;
  font-family: $muli-font;
  color: $soft-red;
}

h3 {
  font-size: $standard-h3;
}
