h1, h2, h3, h4, p, ul, li, a, label, input {
 font-family: $brand-font, 'Arial', sans-serif;
 color: $text-gray;
}

p,  li, a, label, input  {
  font-size: $standard-paragraph;
  font-weight: 300;
  color: $text-gray;
}

h1, h2, h3, h4 {
  text-align: center;
  font-family: $header-font;
}

h2 {
  color: $soft-red;
  margin: 20px auto;
  width: 100%;
  display: block;
  &.page-title {
    margin-bottom: 0;
    font-size: $standard-h2;
  }
}

h3.headline {
  font-size: $standard-h3;
  color: $soft-red;
  margin: 20px auto 5px auto;
}

.error {
  color: $soft-red;
  font-weight: 400;
  text-align: center;
}